<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.cil.freya"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- these are the permission nesscary for the app to work properly -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- the activites. Each entry includes a tleast an activity name. Main activity has a title. and cetain types of intents -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message">
        </activity>
        <activity
            android:name=".CreateNewProject"
            android:label="@string/title_ProjectCreate">
        </activity>
        <activity android:name=".ChooseProjects">
        </activity>
        <activity android:name=".ProjectFilterActivity">
        </activity>
        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".ProjectDisplay">
        </activity>
        <activity android:name=".ChooseProjects">
        </activity>
        <activity android:name=".ProjectFilterActivity">
        </activity>
        <activity android:name=".ProjectDisplay">
        </activity>
        <activity android:name=".CreateNewSite">
        </activity>
        <activity android:name=".CreateNewComponent">
        </activity>
        <activity
            android:name=".ProjectTabDisplay"
            android:label="@string/title_activity_project_tab_display">
        </activity>
    </application>

</manifest>
